extends ./layout
block content
    div(class="jumbotron text-center")
        h1 #{title}
        p #{content}
        a(href="/event",class="btn btn-primary",role="button") Event manager
        br
        a(href="/tCs",class="btn btn-primary",role="button") Title-content manager
        br
        a(href="/locs",class="btn btn-primary",role="button") Location manager
        br
        a(href="/user",class="btn btn-primary",role="button") User manager
    img(src="https://firebasestorage.googleapis.com/v0/b/uploadfile-7c93b.appspot.com/o/%2Fuploads%2Fhashnode%2F0c08bf349f89f56afa8e84aa2b464528?alt=media&token=da7fdc0a-aaca-4322-8292-c8ce7e7142cd", alt="")
        


